#newsletter{
  text-align: center;
  margin-top: 100px;

  .titre_news{
    font-family: $typo-bio-titre;
    font-size: 20px;
    color: $purple;
  }

  .semi-bold_news{
    font-family: $typo-titre;
    font-size: 32px;
    color: $color-titre;
    margin-bottom: 3%;

    .bold{
       font-weight: $weight-semi-bold;
     }
  }

  .search{
    .search_barre{
      background-color: $background-input;
      border: none;
      width: 28%;
      height: 52px;
      padding: 2%;
      border-radius: 9px;
      font-size: 12px;
      margin-right: 2%;
      font-family: $typo-titre;
      color: $color-input;
    }
    .bttn_news{
      font-family: $typo-titre;
      font-weight: $weight-semi-bold;
      font-size: 16px;
      color: #ffffff;
      background: $gradient;
      border-radius:60px;
      padding: 1% 3%;
    }
  }
}

@media only screen and (max-width: 1024px){
  #newsletter{
    .titre_news{
      font-size: 15px;
    }

    .semi-bold_news{
      font-size: 22px;

    }


  }
}

@media only screen and (max-width: 768px){
  #newsletter{


    .semi-bold_news{
      font-size: 18px;

    }


  }
}

@media only screen and (max-width: 376px){
  #newsletter{


    .semi-bold_news{
      font-size: 15px;

    }

    .search{
      display: flex;
      flex-direction: column;
      justify-content: center;
      .search_barre{
        margin-left: auto;
        margin-right: auto;
        width: 60%;
        height: 52px;
        margin-bottom: 15px;

      }
      .bttn_news{
        margin-left: auto;
        margin-right: auto;
        width: 30%;
        font-size: 13px;

      }
    }


  }
}