*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

header{
  width: 100%;
}
#biography{
  width: 100%;
}
#services{
  width: 100%;
}
#price{
  width: 100%;
}
#newsletter{
  width: 100%;
}
footer{
  width: 100%;
}
a{
  text-decoration:none;
  text-transform: uppercase;
  color: #ffffff;


}


