//text
$typo-logo: "Dosis", sans serif;
$weight-regular: 400;
$weight-a:500;
$typo-titre: "Poppins",sans serif;
$weight-bold: 700;
$weight-extra-bold: 800;
$weight-semi-bold: 600;
$weight-light:300;
$typo-bio-titre:"lobster",sans serif;
$typo-lato:"Lato",sans serif;


//colors
$gradient:linear-gradient(90deg,#1A129F 50%, #6156F9);
$purple:#7E76F9;
$color-txt:#7A839E;
$color-titre:#42495B;
$background-purple: rgba(126, 118, 249, 0.3);
$blue:#1000FF;
$color-input:#999999;
$background-input:#F6F7FB;
$blue:#6156F9;

//lenghts
$width-img:90%;

//padding & margin
$padding-bttn:2% 4%;